<!-- Restaurant show page -->

<div class="container">
	<div class="page-header">
		<h3>Results for:
			<span>{{restaurant.name | titlecase}}</span>
		</h3>
		<p></p>
	</div>

	<ul class="list-group">
	  <li class="list-group-item">
	    <span class="badge">{{restaurant.inspections.length}}</span>
	    Total number of reports:
	  </li>
	  <li class="list-group-item">
	    <span class="badge">{{mostRecentReport}}</span>
	    Date of most recent report:
	  </li>
	  <li class="list-group-item">
	    <span class="badge">{{criticals.length}}</span>
	    Number of Critical Failures:
	  </li>
	</ul>

	<div ng-repeat="inspection in restaurant.inspections | orderBy: 'result_date'">
		<span ng-click="incrementFlags(inspection)" class="glyphicon glyphicon-cutlery" ng-click=""></span>
		<span style="font-size:20px; margin-left:10px;">
		Flags: {{inspection.flags}}
		Inspection result: {{inspection.result}} - on {{inspection.result_date}}
			Comments: {{inspection.comments}}
		</span>
	</div>
</div>
<!-- 
<form ng-submit="addComment()" style="margin-top:30px;">
  	<h3>Add a new comment</h3>
  	<div class="form-group">
  		<input type="text" class="form-control" placeholder="Comment" ng-model="body">
  		<button type="submit" class="btn btn-primary"></button>
  	</div>
 </form>
 -->