
<div class="page-header">
	<h3>
		<span>{{restaurant.name}}</span>
	</h3>
</div>

<div ng-repeat="inspection in restaurant.inspections">
	<span class="glyphicon glyphicon-thumbs-up" ng-click="incrementAlarm(inspection)"></span>
	{{inspection.result}} - on {{inspection.result_date}}
	<span style="font-size:20px; margin-left:10px;">
		{{inspection.comments}}
	</span>
</div>
<!-- 
<form ng-submit="addComment()" style="margin-top:30px;">
  	<h3>Add a new comment</h3>
  	<div class="form-group">
  		<input type="text" class="form-control" placeholder="Comment" ng-model="body">
  		<button type="submit" class="btn btn-primary"></button>
  	</div>
 </form>
 -->