
<!DOCTYPE HTML>
<!--
	Tessellate by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Don't Puke</title>
		<link rel="icon" href="images/dontpukelogo.ico" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link href="https://fonts.googleapis.com/css?family=Averia+Sans+Libre:400,700" rel="stylesheet"> 
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<section id="header" class="dark">
				<header>
				<img src="images/dontpukelogo.png" alt="Dont Puke Logo" width="300px" height="auto" />
					<h1>Don't Puke!</h1>
					<p>Find before you dine</p>
				</header>
				<footer>
					<div class="box">
					<form method="GET" action="restaurants/">
  					<div class="container-1">
     				 <span class="icon"><i class="fa fa-search"></i></span>
      					<input type="search" id="search" placeholder="Search Restaurants..." />
 					 </div>
					</div>
				</footer>
			</section>

		
		
		<!-- Basic Elements -->
		
			<section class="main">
				
					<div class="content dark style1 featured">
					<div class="container">
						<div class="row">
							<div class="4u 12u(narrow)">
								<section>
									<span class="feature-icon"><img src="images/don'tpuke_meh.png" width="40%" /></span>
									<header>
										<h3>Non-Critical Violation</h3>
									</header>
									<p>Does not seriously affect the public health but does not meet government standards</p>
								</section>
							</div>
							<div class="4u 12u(narrow)">
								<section>
									<span class="feature-icon"><img src="images/don'tpuke_frown.png" width="40%" /></span>
									<header>
										<h3>Critical Violation</h3>
									</header>
									<p>Contributes to food contamination, illness, or environmental health hazard </p>
								</section>
							</div>
							<div class="4u 12u(narrow)">
								<section>
									<span class="feature-icon"><img src="images/don'tpuke_bad.png" width="40%" /></span>
									<header>
										<h3>Critical Illness Risk</h3>
									</header>
									<p>Contains contributing factors with high risk of foodborne illness or injury</p>
								</section>
							</div>
						</div>

					</div>
				</div>
				
				<div class="content style1 dark">
					<div class="container">
						
						
						<section>
							<header>
								<h3>About Us</h3>
							</header>
							<p>Nobody wants food posioning. Check out our site to arm yourself against food posioning and disgusting cuisines.</p>
						</section>
						
						
					</div>
				</div>
			</section>
		

		<!-- <!-- Fourth -->
		<!-- 	<section id="fourth" class="main">
				<header>
					<div class="container">
						<h2>Sed feugiat ipsum consequat</h2>
						<p>Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet consequat<br />
						feugiat. Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet.</p>
					</div>
				</header>
				<div class="content style4 featured">
					<div class="container 75%">
						<form method="post" action="#">
							<div class="row 50%">
								<div class="6u 12u(mobile)"><input type="text" placeholder="Name" /></div>
								<div class="6u 12u(mobile)"><input type="text" placeholder="Email" /></div>
							</div>
							<div class="row 50%">
								<div class="12u"><textarea name="message" placeholder="Message"></textarea></div>
							</div>
							<div class="row">
								<div class="12u">
									<ul class="actions">
										<li><input type="submit" class="button" value="Send Message" /></li>
										<li><input type="reset" class="button alt" value="Clear Form" /></li>
									</ul>
								</div>
							</div>
						</form>
					</div> -->
			<!-- 	</div>
			</section> -->

		<!-- Footer -->
			<section id="footer">
				<ul class="icons">
					<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
				</ul>
				<div class="copyright">
					<ul class="menu">
						<li>SharkHack2016</li><li>Design: <a href="http://html5up.net">Crocodile Sharks</a></li>
					</ul>
				</div>
			</section>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>