<!DOCTYPE html>
<html>
<head>
  <title>Don't Puke</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
  <style> .glyphicon-thumbs-up { cursor:pointer } </style>
</head>
<body>
    <div class="col-md-6 col-md-offset-3">
      <div ng-include="'nav/_nav.html'"></div>
      <ui-view></ui-view>
    </div>
<%= yield %>

</body>
</html>